<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar color="primary">Movies</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/about" routerLinkActive="active-link">ℹ️ About</a>
      <a mat-list-item routerLink="/action" routerLinkActive="active-link">🎬 Action</a>
      <a mat-list-item routerLink="/thriller" routerLinkActive="active-link">🕵️ Thriller</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Entertainment Portal</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

